

.hero{
    position:absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
h1{
    padding-left: 15px;
    padding-bottom: 20px;
    margin: 10px
}
.links{
    display: flex;
    justify-content: space-between;
}

.role{
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: darkblue;
    border: 1px solid lightgrey;
    border-radius: 10%;
}

.role:hover{
    box-shadow: 0 2px 3px grey;
    font-weight: bold;
    transition: all 0.1s ease-out;
}

.btn{
    font: size 20px;
}